# DATABASE_URL:
# - Absent: uses local PGlite
# - Present: uses remote Neon
# DATABASE_URL="postgresql://user:pass@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Neon Auth Configuration
# NEON_AUTH_URL=''

# Better Auth Configuration
# BETTER_AUTH_SECRET="better-auth-secret-key-987654321"
# BETTER_AUTH_URL="http://localhost:3000"

# Vercel Blob
BLOB_STORE_ID=""
BLOB_READ_WRITE_TOKEN=""

